<mark>SHOWING STAFF WHO ARE TEACHERS</mark>

In [ ]:
SELECT *
FROM ADM_REC.TEACHER T
INNER JOIN ADM_REC.STAFF S ON S.STAFF_ID=T.STAFF_ID

**<mark>SHOWING CLASS AND SUBJECT EACH TEACHER TEACHES</mark>**

In [ ]:
-- SHOWING THE CLASS AND SUNJECT EACH TEACHER TEACHES
--USING INNER JOIN TO SHOW TEACHERS, CLASS, SUBJECT, DEPT AND STAFF NAME  
USE SEC_SCH
SELECT S.SUBJECT_NAME, T.TEACHER_ID, SF.STAFF_NAME, SF.STAFF_ID,SF.QUALIFICATION, C.CLASS_ID, C.CLASS_NAME, C.CLASS_TEACHER, D.DEPT_ID, D.DEPT_NAME
FROM ADM_ACA.SUBJECTS S
INNER JOIN ADM_REC.TEACHER T ON T.TEACHER_ID = S.SUBJECT_TEACHER
INNER JOIN ADM_REC.STAFF SF ON SF.STAFF_ID =T.STAFF_ID
-- INNER JOIN ADM_REC.CLASS C ON C.CLASS_TEACHER= T.TEACHER_ID
INNER JOIN ADM_REC.DEPT D ON D.DEPT_ID= SF.DEPT_ID
INNER JOIN ADM_REC.CLASS C ON C.CLASS_ID = S.CLASS_ID

<mark>SHOWING STAFF EARNING BELOW AVG SALARY</mark>

In [ ]:
SELECT S.SALARY_ID, S.STAFF_ID, S.SALARY, ST.STAFF_ID, ST.STAFF_NAME, ST.JOB_TITLE
FROM ADM_REC.SALARY S
INNER JOIN ADM_REC.STAFF ST ON ST.STAFF_ID = S.STAFF_ID
WHERE SALARY <= (SELECT AVG(SALARY) FROM ADM_REC.SALARY)

SHOWING STAFF EARNING ABOVE AVG SALARY

In [ ]:
SELECT S.SALARY_ID, S.STAFF_ID, S.SALARY, ST.STAFF_ID, ST.STAFF_NAME, ST.JOB_TITLE
FROM ADM_REC.SALARY S
INNER JOIN ADM_REC.STAFF ST ON ST.STAFF_ID = S.STAFF_ID
WHERE SALARY >= (SELECT AVG(SALARY) FROM ADM_REC.SALARY)

<mark>**SHOWING STAFF AND DEPARTMENT RECORD**</mark>

In [ ]:
USE SEC_SCH
SELECT S.STAFF_ID,S.STAFF_NAME, S.DEPT_ID, D.DEPT_ID, D.DEPT_NAME 
FROM ADM_REC.STAFF S 
INNER JOIN ADM_REC.DEPT D ON D.DEPT_ID = S.DEPT_ID