<mark>**INSERTING DATA INTO DATABASE SEC\_SCH**</mark>

In [ ]:
USE SEC_SCH

In [ ]:
-- INSERT DATA INTO STUDENTS TABLE
SET IDENTITY_INSERT ADM_REC.STUDENTS ON
INSERT INTO ADM_REC.STUDENTS(STUDENT_NAME, STUDENT_DOB, GENDER, STUDENT_REG_NO, ENROLL_DATE, STUDENT_ADD, EMAIL_ADD, NEXTOFKIN, EMER_CONTACT, DISABILITY, ALLERGIES, BLOOD_GROUP, BLOOD_GENO, PARENT_ID)
VALUES 
('Chiamaka Adekunle', '2002-05-15', 'Female', 'OG/2022/001', '2022-01-18', 'No 5 Ijebu-Ode Road Sagamu Ogun State', 'chiamakaadekunle@gmail.com', 'Mrs Adekunle', '08012345678', '', '', 'O+', 'AA',1),
('Abdullahi Sule', '2001-08-10', 'Male', 'OG/2022/002', '2022-01-18', 'No 1 Adeola Street Abeokuta Ogun State', 'abdullahisule@gmail.com', 'Mr Sule', '08023456789', '', '', 'B+', 'AS',2),
('Kemi Oke', '2003-03-05', 'Female', 'OG/2022/003', '2022-01-20', 'No 3 Ibara Housing Estate Abeokuta Ogun State', 'kemioke@gmail.com', 'Mrs Oke', '08034567890', '', '', 'A+', 'AA',3),
('Adetola Bello', '2001-11-25', 'Male', 'OG/2022/004', '2022-01-20', 'No 2 Ake Palace Road Abeokuta Ogun State', 'adetola.bello@gmail.com', 'Mr Bello', '08045678901', '', '', 'O-', 'AO',4),
('Ngozi Okafor', '2002-01-01', 'Female', 'OG/2022/005', '2022-01-20', 'No 4 Ijebu-Igbo Road Ago-Iwoye Ogun State', 'ngozi.okafor@gmail.com', 'Mrs Okafor', '08056789012', '', '', 'AB+', 'BB',5),
('Bolaji Fashola', '2003-06-15', 'Male', 'OG/2022/006', '2022-01-20', 'No 6 Unity Road Ota Ogun State', 'bolaji.fashola@gmail.com', 'Mr Fashola', '08067890123', '', '', 'O+', 'AO',6),
('Amina Usman', '2002-09-20', 'Female', 'OG/2022/007', '2022-01-20', 'No 10 Akinremi Street Ijebu-Ode Ogun State', 'amina.usman@gmail.com', 'Mrs Usman', '08078901234', '', '', 'B-', 'BO',7),
('Jide Salami', '2001-04-12', 'Male', 'OG/2022/008', '2022-01-20', 'No 8 Ojere Road, Abeokuta Ogun State', 'jide.salami@gmail.com', 'Mr Salami', '08089012345', '', '', 'A-', 'AO',8),
('Tolani Adewale','2002-12-30', 'Female', 'OG/2022/009', '2022-01-22', 'No 12 Ijebu-Ode Road Ijebu-Igbo Ogun State', 'tolani.adewale@gmail.com', 'Mrs Adewale', '08090123456', '', '', 'B+','BO', 9),
('Adeola Adewale', '2008-07-05', 'Male', 'OG/2022/010', '2022-01-22', 'No 12 Ijebu-Ode Road Ijebu-Igbo Ogun State', 'adeola.adeyemi@gmail.com', 'Mrs Adewale', '08090123456', '', '', 'AB-', 'AO', 9),
('Chinwe Okoro', '2002-02-14', 'Female', 'OG/2022/011', '2023-01-22', 'No 6 Agbeloba House, Isara-Remo Ogun State', 'chinwe.okoro@gmail.com', 'Mrs Okoro', '08012345670', '', '', 'A+', 'AA',10),
('Rahmat Abdul', '2003-04-20', 'Female', 'OG/2022/013', '2023-01-22', 'No 2a Kuto Road, Abeokuta Ogun State', 'rahmat.abdul@gmail.com', 'Mrs Abdul', '08034567812', '', '', 'B+', 'BO', ''),
('Bamidele Adelaja', '2001-11-11', 'Male', 'OG/2022/014', '2023-01-22', 'No 5 Adebajo Street, Iperu-Remo Ogun State', 'bamidele.adelaja@gmail.com', 'Mr Adelaja', '08045678903', '', '', 'A-', 'AO', ''),
('Titi Ogunleye', '2002-06-30', 'Female', 'OG/2022/015', '2023-01-22', 'No 8 Iyana Mortuary Road, Sagamu Ogun State', 'titi.ogunleye@gmail.com', 'Mrs Ogunleye', '08056789014', '', '', 'O+', 'AA', ''),
('Abiodun Adekoya', '2003-10-12', 'Male', 'OG/2022/016', '2023-01-22', 'No 3 Oke-Ilewo Street, Abeokuta Ogun State', 'abiodun.adekoya@gmail.com', 'Mr Adekoya', '08067890125', '', '', 'B-', 'BO', ''),
('Nkechi Okoro', '2005-03-28', 'Female', 'OG/2022/017', '2023-01-22', 'No 6 Agbeloba House, Isara-Remo Ogun State', 'nkechi.okoro@gmail.com', 'Mrs Okoro', '08012345670', '', '', 'AB+', 'AS', 10)
SET IDENTITY_INSERT ADM_REC.STUDENTS OFF

In [ ]:
--INSERT DATA INTO PARENT TABLE
SET IDENTITY_INSERT ADM_REC.PARENT ON
INSERT INTO ADM_REC.PARENT(PARENT_NAME,PARENT_ADD, EMAIL_ADD, PHONE_NO,OCCUPATION, GENDER, RELATIONSHIP,FATHER_NAME,MOTHER_NAME, GUARDIAN_NAME)
VALUES
('Mrs Adekunle', 'No 5 Ijebu-Ode Road Sagamu Ogun State', 'adekunle@yahoo.com', '08023456789', 'Businesswoman', 'Female', 'Mother', 'Mr Adekunle', '', ''),
('Mr Sule', 'No 1 Adeola Street Abeokuta Ogun State', 'sule@gmail.com', '08034567890', 'Engineer', 'Male', 'Father', 'Mr Sule', '',''),
('Mrs Oke', 'No 3 Ibara Housing Estate Abeokuta Ogun State', 'oke.kemi@yahoo.com', '08045678901', 'Teacher', 'Female', 'Mother', 'Mr Oke', '', 'Mrs Gbolahan'),
('Mr Bello', 'No 2 Ake Palace Road Abeokuta Ogun State', 'adetola.bello@gmail.com', '08056789012', 'Doctor', 'Male', 'Father', 'Mr Bello', '', ''),
('Mrs Okafor', 'No 4 Ijebu-Igbo Road Ago-Iwoye Ogun State', 'okafor.ngozi@yahoo.com', '08067890123', 'Businesswoman', 'Female', 'Mother', '', 'Mrs Okafor', 'Mr Andrew'),
('Mr Fashola', 'No 6 Unity Road Ota Ogun State', 'bolaji.fashola@gmail.com', '08078901234', 'Businessman', 'Male', 'Father', 'Mr Fashola', '', ''),
('Mrs Usman', 'No 10 Akinremi Street Ijebu-Ode Ogun State', 'usmanamina@gmail.com', '08089012345', 'Nurse', 'Female', 'Mother', '', 'Mrs Usman', 'Gen.Buhari'),
('Mr Salami', 'No 8 Ojere Road, Abeokuta Ogun State', 'jide.salami@yahoo.com', '08090123456', 'Banker', 'Male', 'Father', 'Mr Salami', '', ''),
('Mrs Adewale', 'No 12 Ijebu-Ode Road Ijebu-Igbo Ogun State', 'adewaledele@gmail.com', '09087653432', 'Trader', 'Female', 'Mother', 'Mr Adewale', '', ''),
('Mrs Okoro', 'No 6 Agbeloba House, Isara_Remo Ogun State', 'graceokoro@gmail.com', '09083456321', 'Doctor', 'Female', 'Mother', 'Mr Okoro', '','')
SET IDENTITY_INSERT ADM_REC.PARENT OFF

In [ ]:
--INSERT DATA INTO DEPT TABLE
SET IDENTITY_INSERT ADM_REC.DEPT ON
INSERT INTO ADM_REC.DEPT (DEPT_NAME)
VALUES
('ACADEMICS'),
('WORKS'),
('HEALTH'),
('ACCOUNTS'),
('ADMINISTRATIVE')
SET IDENTITY_INSERT ADM_REC.DEPT OFF

In [ ]:
--INSERT DATA INTO STAFF TABLE
SET IDENTITY_INSERT ADM_REC.STAFF ON
INSERT INTO ADM_REC.STAFF(STAFF_NAME, STAFF_REG_NO,APPOINTMENT_DATE,PHONE_NO,EMAIL_ADD,JOB_TITLE,DOB,GENDER,QUALIFICATION,YEAROFSERVICE,NEXTOFKIN,DISABILITY,EMER_CONTACT, DEPT_ID)
VALUES 
('Funke Adeyemi', 'OG/ST/001', '2017-04-20', '08045678901', 'funkeadeyemi@yahoo.com', 'Biology Teacher', '1983-01-15', 'Female', 'B.Sc', 12, 'Tunde Adeyemi', 'None', '08065432109',1),
('Ibrahim Yusuf', 'OG/ST/002', '2021-02-28', '08056789012', 'ibrahimyusuf@gmail.com', 'Mathematics Teacher', '1990-06-06', 'Male', 'B.Sc', 1, 'Rukayat Yusuf', 'None', '08054321098',1),
('Adeola Adeleke','OG/ST/003', '2015-11-05', '08067890123', 'adeolaadeleke@gmail.com', 'Chemistry Teacher', '1975-02-28', 'Female', 'B.Sc', 16, 'Femi Adeleke', 'None', '08043210987',1),
('Ahmed Aliu', 'OG/ST/004', '2016-08-12', '08078901234', 'ahmedaliu@yahoo.com', 'History Teacher', '1982-09-17', 'Male', 'B.Ed', 15, 'Nafisat Aliu', 'None', '08032109876',1),
('Grace Akinde', 'OG/ST/005', '2014-05-08', '08089012345', 'graceakindele@gmail.com', 'English Language Teacher', '1971-12-20', 'Female', 'B.A', 19, 'Wale Akindele', 'None', '08021098765',1),
('Kayode Ajayi', 'OG/ST/006', '2013-01-30', '08090123456', 'kayodeajayi@yahoo.com', 'Principal', '1978-10-18', 'Male', 'M.sc', 22, 'Bisi Ajayi', 'None', '08010987654',5),
('Bola Adeleke','OG/ST/007', '2012-06-15', '08001234567', 'bolaadeleke@gmail.com', 'Vice Principal', '1973-04-01', 'Female', 'B.sc', 23, 'Tunji Adeleke', 'None', '08109876543',5),
('Ola Oladipo', 'OG/ST/008', '2021-09-01', '08029383838', 'None', 'Security Guard', '1983-04-04','Male', 'SSCE', 15, 'Bisi Oladipo', 'None', '09085854321',2),
('Victoria Ajayi', 'OG/ST/009', '2018-09-12', '08124352632', 'None', 'Cleaner', '1987-08-19', 'Female', 'SSCE', 10, 'Toyosi Ajayi', 'None', '09162536282',2),
('Hassan Mohammed', 'OG/ST/010', '2020-07-01', '08012349876',	'hassanm@yahoo.com', 'Geography Teacher', '1982-03-15','Male', 'B.Ed. Geography',	7 ,'Amina Mohammed','None', '09087654321', 1),
('Bisi Adekunle', 'OG/ST/011', '2018-12-01', '08056789012', 'bisiadekunle@gmail.com', 'Biology Teacher', '1987-08-20', 'Female', 'B.Sc. Biology', 4, 'Segun Adekunle', 'None', '08123456789', 1),
('Emeka Okoro', 'OG/ST/012', '2021-02-01', '08090123456', 'emekaokoro@gmail.com', 'Physics Teacher', '1981-06-30', 'Male', 'B.Sc. Physics', 2,	'Chioma Okoro', 'None', '08187654321', 1),
('Amina Ibrahim', 'OG/ST/013', '2019-04-01', '08067890123', 'aminaibrahim@gmail.com', 'Chemistry Teacher', '1988-12-12', 'Female', 'B.Sc. Chemistry', 6,  'Ali Ibrahim', 'None', '08023456789', 1),
('Chidi Okafor','OG/ST/014', '2020-08-01', '08012345678', 'chidiokafor@gmail.com', 'Economics Teacher', '1983-10-22',	'Male', 'B.Sc. Economics', 5,'Nneka Okafor', 'None','09087654321', 1),
('Adeola Williams', 'OG/ST/015', '2017-11-01', '08087654321', 'adeolawilliams@yahoo.com', 'Literature Teacher', '1984-04-18', 'Female', 'B.Ed. English Literature', 8,	'Olumide Williams', 'None', '08134567890',1),
('Yusuf Abdul', 'OG/ST/016', '2021-03-01', '08012349876', 'yusufabdul@gmail.com', 'Computer Science Teacher', '1980-11-09', 'Male', 'B.Sc. Computer Science', 3, 'Rukayat Abdul', 'None', '08023456789', 1),
('Nkechi Obi', 'OG/ST/017', '2018-06-01', '08056789012', 'nkechiobi@gmail.com', 'Government Teacher', '1986-02-14', 'Female', 'B.Sc. Political Science', 4, 'Ugochukwu Obi','None', '08120304323', 1),
('Musa Oladimeji', 'OG/ST/018', '2019-05-01', '08012343876', 'musaola@gmail.com', 'Driver', '1987-06-15', 'Male', 'OND', 3, 'Eunice Oladimeji', 'None', '09087632121',2),
('Joseph Adedayo', 'OG/ST/019', '2020-08-21', '08056656412', 'josephadedayo@gmail.com', 'Driver', '1989-01-19', 'Male', 'OND', 4, 'Grace Adedayo', 'None', '08112766789',2),
('Sunday Lemina', 'OG/ST/020', '2021-02-01', '08045217456', 'sunday_lemina@gmail.com', 'Technician', '1979-11-29', 'Male', 'HND', 3, 'Tofunmi Lemina', 'None', '08181298031',2),
('Ibrahim Sanusi', 'OG/ST/021', '2019-04-01', '08128790123', 'ibrahimsanusi09@gmail.com', 'Technician', '1991-12-12', 'Male', 'HND', 6, 'Pelumi Sanusi', 'None', '08123456789',2),
('Abiodun Momoh', 'OG/ST/022', '2020-08-01', '08012388768', 'None', 'Driver', '1985-12-22', 'Male', 'OND', 8, 'Penny Momoh', 'None', '09012623321', 2),
('Otedola Koker', 'OG/ST/023', '2017-11-01', '08088821321', 'None', 'Driver', '1982-04-19', 'Male', 'OND', 11, 'John Koker', 'None', '08098567890',2),
('Fiyin Ajayi', 'OG/ST/024', '2021-03-01', '08198344876', 'None', 'Security Guard', '1983-03-19', 'Male', 'OND', 3, 'Feyi Ajayi', 'None', '08026262889',2),
('Usman Rasaq', 'OG/ST/025', '2021-04-14', '09022332211', 'rasaqusman@gmail.com','Accountant', '1987-05-11', 'Male', 'Bsc', 4, 'Yinka Rasaq', 'None', '08123456754', 4),
('Enilolobo Grace', 'OG/ST/026', '2019-08-01', '09066546786', 'graceenilolobo@gmail.com', 'Bursary', '1992-02-13', 'Female', 'HND', 5, 'Joseph Enilolobo', 'None', '09090126745', 4),
('Shodiya Emmanuel', 'OG/ST/027', '2020-09-12', '08120604534', 'emmashodiya@gmail.com', 'Nurse', '1990-12-24', 'Male', 'Nursing and Midwifery', 6, 'Shodiya Pelumi', 'None', '08160202716', 3),
('Funsho Williams', 'OG/ST/28', '2021-09-12', '09073212345', 'funshon@gmail.com', 'Libarian', '1990-07-06', 'Male', 'BSC',4, 'Dapo williams', 'None' ,'09044557799', 1 ),
('Isaac Gordons', 'OG/ST/29', '2021-09-12', '09071278345', 'isaacgordons@gmail.com', 'Library Assistant', '1992-08-16', 'Male', 'OND',3, 'Anthony Peters', 'None', '09043787799', 1 ),
('Aishat Olamide', 'OG/ST/30', '2019-09-14', '0907932345', 'aisolami@gmail.com', 'Nurse', '1989-10-01', 'Female', 'Nurse and Midwifery',4, 'Femi Animashaun', 'None', '0904413799', 3 ),
('Jumoke Goke', 'OG/ST/31', '2022-09-12', '09072380345', 'jumoke12@gmail.com', 'CHEW', '1992-07-11', 'Female', 'HND', 3, 'John Goke', 'None', '09044554869', 3 )
set IDENTITY_INSERT adm_rec.STAFF OFF

In [ ]:
--INSERT RECORDS INTO TEACHER TABLE
SET IDENTITY_INSERT ADM_REC.TEACHER ON
INSERT INTO ADM_REC.TEACHER(TEACHER_ID,TEACHER_NAME,STAFF_ID)
VALUES
(101, 'Funke Adeyemi', 001),
(102, 'Ibrahim Yusuf',002),
(103, 'Adeola Adeleke', 003),
(104, 'Ahmed Aliu', 004),
(105, 'Grace Akinde', 005),
(106, 'Hassan Mohammed', 010),
(107, 'Bisi Adekunle', 011),
(108, 'Emeka Okoro', 12),
(109, 'AMINA IBRAHIM',13),
(110, 'CHIDI OKAFOR', 14),
(111, 'ADEOLA WILLIAMS', 15),
(112, 'YUSUF ABDUL', 16),
(113, 'NKECHI OBI', 17)

SET IDENTITY_INSERT ADM_REC.TEACHER OFF

In [ ]:
-- INSERT INTO CLASS TABLE
SET IDENTITY_INSERT ADM_REC_CLASS ON
INSERT INTO ADM_REC.CLASS(CLASS_ID, CLASS_NAME, CLASS_TEACHER)
VALUES
(1, 'SSS1 SCI', 101),
(2,'SS1 A&C', 102),
(3, 'SS2 SCI',103),
(4, 'SS2 A&C', 104),
(5, 'SS3 SCI', 105),
(6, 'SS3 A&C',105)
SET IDENTITY_INSERT ADM_REC_CLASS OFF

In [ ]:
--INSERT DATA INTO SUBJECT TABLE
SET IDENTITY_INSERT ADM_ACA.SUBJECTS ON
INSERT INTO ADM_ACA.SUBJECTS(SUBJECT_ID, SUBJECT_NAME, CLASS_ID, SUBJECT_TEACHER)
VALUES
(1, 'BIOLOGY', 1,101 ),
(2, 'CHEMISTRY', 1, 103),
(3, 'ENGLISH LANGUAGE', 1, 105),
(4, 'GEOGRAPHY', 1, 106),
(5, 'PHYSICS', 1, 108),
(6, 'GOVERNMENT', 2, 113),
(7, 'LITERATURE', 2,  111),
(8, 'MATHEMATICS', 1, 102),
(9, 'MATHEMATICS', 2, 102),
(10, 'HISTORY', 2, 104),
(11, 'ENGLISH LANGUAGE', 2, 105),
(12, 'BIOLOGY', 5, 107),
(13, 'PHYSICS', 3, 108),
(14, 'ECONOMICS', 2, 110),
(15, 'GOVERNMENT', 4, 113),
(16, 'COMPUTER SCIENCE', 1, 112),
(17, 'LITERATURE', 6, 111),
(18, 'CHEMISTRY', 5, 109),
(19, 'BIOLOGY', 5, 107),
(20, 'BIOLOGY', 3, 107),
(21, 'GEOGRAPHY', 3, 106),
(22, 'HISTORY', 6,104)

SET IDENTITY_INSERT ADM_ACA.SUBJECTS OFF

In [ ]:
-- INSERT INTO SALARY TABLE
SET IDENTITY_INSERT ADM_REC.SALARY ON
INSERT INTO ADM_REC.SALARY(SALARY_ID, STAFF_ID, DEPT_ID, SALARY)
VALUES
(1,1,1,70000),
(2,2,1,70000),
(3,3,1, 70000),
(4,4,1,70000),
(5,5,1, 70000),
(6,6,5, 120000),
(7,7, 5, 100000),
(8,8, 2, 30000),
(9,9, 2, 30000),
(10,10, 1, 70000),
(11, 11, 1, 70000),
(12,12, 1, 70000),
(13,13, 1, 70000),
(14,14, 1, 70000),
(15,15, 1, 70000),
(16,16, 1, 70000),
(17,17, 1, 70000),
(18,18, 2, 45000),
(19,19, 2, 45000),
(20,20, 2, 55000),
(21,21, 2, 55000),
(22,22, 2, 45000),
(23,23, 2, 45000),
(24,24,2,35000)
SET IDENTITY_INSERT ADM_REC.SALARY OFF

### <mark>FEE STATUS( '0'- NOT PAID, '1'- PAID. SHOWING STUDENTS OWING</mark>

In [ ]:
--ENTER VALUE INTO SCH_FEE
INSERT INTO ADM_REC.SCH_FEE(STUDENT_ID, PARENT_ID, CLASS_ID, SCH_FEE, FEE_STATUS)
VALUES
(001,001, 006, 118000, 1),
(002, 002, 001, 92000, 1),
(003,003, 004, 109000, 0),
(004,004, 002, 92000, 1),
(005, 005, 001,92000, 1),
(006, 006, 005, 118000, 0),
(007,007, 003, 109000, 1),
(008,008,005,118000,1),
(008, 008,002,92000,0),
(009,009,004,109000,1),
(010,009,003,109000,0),
(011,010,005,118000,1),
(012, NULL, 003, 109000,1),
(013, NULL, 006, 118000,1),
(014, NULL, 002, 92000,0),
(015, NULL, 001, 92000,1),
(016, 10, 003, 109000,1)

In [ ]:
-- INPUT DATA FOR BUS DRIVER
INSERT INTO ADM_WORKS.BUS_DRIVER (DRIVER_ID, STAFF_ID) 
VALUES
(001, 18),
(002, 19),
(003, 22),
(004, 23)

In [ ]:
--INPUT FOR BUS
INSERT INTO ADM_WORKS.BUS(BUS_ID, DRIVER_ID)
VALUES
(301, 1),
(302, 2),
(303,3),
(304, 4)

In [ ]:
-- DATA FOR ADM_WORKS.BUS_ROUTE
INSERT INTO ADM_WORKS.BUS_ROUTE(BUS_ID, ROUTE_ID, STUDENT_ID, DRIVER_ID)
VALUES
(304, 005, 15,  4),
(304, 005, 6,  4),
(304, 006, 7,  4),
(304, 006, 12, 4)

In [ ]:
-- DATA FOR ROUTE DESTINATION
INSERT INTO ADM_WORKS.ROUTE_DESTINATION(ROUTE_ID, ROUTE_DEST, ROUTE_NAME)
VALUES
(001, 'OBANTOKO-IBARA', 'OBANTOKO'),
(002, 'OKE-MOSAN-IBARA', 'OKE-MOSAN'),
(003, 'SAJE-IBARA', 'SAJE'),
(004, 'KEMTA-IBARA', 'KEMTA'),
(005, 'ELEGA-IBARA', 'ELEGA'),
(006, 'LAFENWA-IBARA', 'LAFENWA')

In [ ]:
-- DATA FOR BOOK CATEGORY
INSERT INTO ADM_REC.BOOKS_CATEGORY(CAT_ID, CAT_NAME)
VALUES
(1, 'GENERAL BOOKS'),
(2, 'LITERATURE'),
(3, 'HISTORY'),
(4, 'SCIENCE BOOK'),
(5, 'MEDICAL JOURNALS')

In [ ]:
--DATA FOR CLINIC STAFF
INSERT INTO ADM_WORKS.CLINIC(STAFF_ID)
VALUES
(27),
(30),
(31)

In [ ]:
--DATA FOR STUDENT CLASS
INSERT INTO ADM_ACA.STUDENTCLASS(CLASS_ID, STUDENT_ID)
VALUES
(5,1),
(4,2),
(6,3),
(2,5),
(4,6),
(3,7),
(6,8),
(5,9),
(1,10),
(4,11),
(5,12),
(6,13),
(2,14),
(5,15),
(2,16)

In [ ]:
-- DATA FOR LIB
INSERT INTO ADM_REC.LIB(LIB_ID, STUDENT_ID)
VALUES
('LIB/001',1),
('LIB/002', 2),
('LIB/003',3),
('LIB/005', 5),
('LIB/006', 6),
('LIB/007', 7),
('LIB/008',8),
('LIB/009', 9),
('LIB/010',10),
('LIB/011', 11),
('LIB/012', 12),
('LIB/013',13),
('LIB/014', 14),
('LIB/015',15),
('LIB/016', 16)