**<mark>CREATE DATABASE NAMED SEC\_SCH</mark>**

In [ ]:
CREATE DATABASE SEC_SCH

**<mark>CREATE SCHEMAS FOR THE DATABASE</mark>**

In [ ]:
--CREATE SCHEMA ADM_REC
CREATE SCHEMA ADM_REC

In [ ]:
--CREATE SCHEMA ADM_ACA
CREATE SCHEMA ADM_ACA

In [ ]:
--CREATE SCHEMA ADM_WORKS
CREATE SCHEMA ADM_WORKS

<mark>**CREATE TABLES FOR THE DATABASE**</mark>

In [ ]:
-- TABLE FOR STUDENT PARENTS
create table ADM_REC.PARENT
(
PARENT_ID int IDENTITY (1,1) not null PRIMARY KEY,
PARENT_NAME varchar(100) not null,
PARENT_ADD varchar(255) not null,
EMAIL_ADD varchar(100) not null,
PHONE_NO varchar(11) not null,
OCCUPATION varchar(50) not null,
GENDER varchar(6) not null,
RELATIONSHIP varchar(50) not null,
FATHER_NAME VARCHAR(255) NOT NULL,
MOTHER_NAME VARCHAR(255) NOT NULL,
GUARDIAN_NAME VARCHAR (255),
);

In [ ]:
-- CREATE TABLE FOR STUDENTS
CREATE TABLE ADM_REC.STUDENTS
    (STUDENT_ID int identity (1,1) not null PRIMARY KEY,
    STUDENT_NAME varchar(100) not null,
    STUDENT_DOB date not null,
    GENDER varchar(6) not null,
    STUDENT_REG_NO	varchar (12) not null unique,
    ENROLL_DATE date not null,
    STUDENT_ADD varchar(255) not null,
    EMAIL_ADD varchar(100),
    NEXTOFKIN varchar(100) not null,
    EMER_CONTACT varchar(11) not null,
    DISABILITY varchar(50) not null,
    ALLERGIES varchar(50) not null,
    BLOOD_GROUP VARCHAR(3) not null,
    BLOOD_GENO varchar(2) not NULL,
    PARENT_ID INT, 
    FOREIGN KEY (PARENT_ID) REFERENCES ADM_REC.PARENT(PARENT_ID) ON DELETE CASCADE ON UPDATE CASCADE
   );

In [ ]:
--TABLE FOR DEPARTMENT
create table ADM_REC.DEPT
(DEPT_ID int IDENTITY(1,1) not null PRIMARY KEY,
DEPT_NAME VARCHAR NOT NULL)

In [ ]:
-- TABLE FOR SCH STAFF
create table ADM_REC.STAFF
    (STAFF_ID int IDENTITY (1,1) NOT NULL primary key,
     STAFF_NAME VARCHAR(100) not NULL,
     STAFF_REG_NO varchar(15) not null UNIQUE,
     APPOINTMENT_DATE date not NULL,
     PHONE_NO varchar(11) not null,
     EMAIL_ADD varchar (50) not null,
     JOB_TITLE varchar(50) not null,
     DOB date NOT null,
     GENDER varchar (6) not null,
     QUALIFICATION varchar (100) not NULL,
     YEAROFSERVICE int not null,
     NEXTOFKIN varchar(100) not null,
     DISABILITY varchar(50) not null,
     EMER_CONTACT varchar(11) not null,
     );

In [ ]:
--TABLE FOR TEACHERS
create table ADM_REC.TEACHER
(TEACHER_ID int identity (1,1) not null primary key,
TEACHER_NAME varchar (100) not null,
STAFF_ID int,
FOREIGN KEY  (STAFF_ID) REFERENCES ADM_REC.STAFF (STAFF_ID) ON DELETE CASCADE ON UPDATE CASCADE,
)

In [ ]:
--TABLE FOR CLASSES
CREATE TABLE ADM_REC_CLASS
(CLASS_ID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
CLASS_NAME varchar(10) NOT NULL,
CLASS_TEACHER int NOT NULL,
FOREIGN KEY (CLASS_TEACHER) REFERENCES ADM_REC.TEACHER(TEACHER_ID) ON DELETE CASCADE ON UPDATE CASCADE)

In [ ]:
--TABLE FOR SUBJECTS
CREATE TABLE ADM_ACA.SUBJECTS
(SUBJECT_ID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
SUBJECT_NAME varchar(50) NOT NULL,
CLASS_ID int NULL,
SUBJECT_TEACHER int NOT NULL,
FOREIGN KEY (CLASS_ID) REFERENCES ADM_REC.CLASS(CLASS_ID) ON UPDATE CASCADE ON DELETE CASCADE
FOREIGN KEY (SUBJECT_TEACHER) REFERENCES ADM_REC.TEACHER(TEACHER_ID) ON UPDATE NO ACTION ON DELETE NO ACTION)

In [ ]:
-- TABLE FOR STUDENT RESULTS
create table ADM_REC.RESULTS
(STUDENT_ID int,
CLASS_ID int,
 SUBJECT_ID int,
FIRST_TEST int not NULL,
SECOND_TEST int not null,
EXAM int not null,
 FOREIGN KEY (STUDENT_ID) REFERENCES ADM_REC.STUDENTS (STUDENT_ID) ON DELETE CASCADE ON UPDATE CASCADE,
 FOREIGN KEY (CLASS_ID) REFERENCES ADM_REC.CLASS (CLASS_ID) ON DELETE no ACTION ON UPDATE NO ACTION,
 FOREIGN KEY (SUBJECT_ID) REFERENCES ADM_ACA.SUBJECTS(SUBJECT_ID) ON DELETE NO ACTION ON UPDATE NO ACTION)

In [ ]:
--TABLE FOR SALARY
USE SEC_SCH
create table ADM_REC.SALARY
(SALARY_ID INT IDENTITY(1,1) PRIMARY KEY,
STAFF_ID int,
DEPT_ID INT,
SALARY int not null,
FOREIGN KEY (STAFF_ID) REFERENCES ADM_REC.STAFF (STAFF_ID) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY (DEPT_ID) REFERENCES ADM_REC.DEPT (DEPT_ID) ON DELETE NO ACTION ON UPDATE NO ACTION);

In [ ]:
--TABLE FOR SCH FEE
CREATE TABLE ADM_REC.SCH_FEE
(STUDENT_ID int,
PARENT_ID INT,
CLASS_ID int,
 SCH_FEE INT not NULL,
 FEE_STATUS BIT DEFAULT '0' 
 FOREIGN KEY (STUDENT_ID) REFERENCES ADM_REC.STUDENTS (STUDENT_ID) ON DELETE CASCADE ON UPDATE CASCADE,
 FOREIGN KEY (CLASS_ID) REFERENCES ADM_REC.CLASS (CLASS_ID) ON DELETE NO ACTION ON UPDATE NO ACTION,
FOREIGN KEY (PARENT_ID) REFERENCES ADM_REC.PARENT (PARENT_ID) ON DELETE NO ACTION ON UPDATE NO ACTION)

In [ ]:
--CREATE TABLE FOR LIBRARY
CREATE TABLE ADM_REC.LIB
  (LIB_ID INT IDENTITY (1,1) NOT NULL PRIMARY KEY,
  STUDENT_ID int,
 FOREIGN KEY (STUDENT_ID) REFERENCES ADM_REC.STUDENTS (STUDENT_ID) ON DELETE CASCADE ON UPDATE CASCADE);

In [ ]:
-- CREATE BOOK RECORDS
USE SEC_SCH
CREATE TABLE ADM_REC.BOOKS_CATEGORY
(CAT_ID INT NOT NULL PRIMARY KEY,
CAT_NAME VARCHAR(50) NOT NULL
)

In [ ]:
-- CREATE BOOKS TABLE
USE SEC_SCH
CREATE TABLE ADM_REC.BOOKS
(CAT_ID INT,
BOOK_ID INT NOT NULL PRIMARY KEY,
BOOK_NAME VARCHAR(100) NOT NULL 
FOREIGN KEY (CAT_ID) REFERENCES ADM_REC.BOOKS_CATEGORY (CAT_ID) ON DELETE CASCADE ON UPDATE CASCADE
)

In [ ]:
--CREATE LIBRARY RECORDS
USE SEC_SCH
CREATE TABLE ADM_REC.LIB_RECORDS
(LIB_ID VARCHAR(10),
BOOK_ID INT,
STUDENT_ID INT NULL,
BOOK_STATUS BIT DEFAULT '0', -- 0= NOT BORROWED, 1= BORROWED
COLECT_DATE DATE,
RETURN_DATE DATE,
FOREIGN KEY (LIB_ID) REFERENCES ADM_REC.LIB(LIB_ID) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY (BOOK_ID) REFERENCES ADM_REC.BOOKS (BOOK_ID) ON DELETE NO ACTION ON UPDATE NO ACTION,
FOREIGN KEY (STUDENT_ID) REFERENCES ADM_REC.STUDENTS (STUDENT_ID) ON DELETE NO ACTION ON UPDATE NO ACTION
 )

In [ ]:
-- TABLE FOR BUS DRIVER
CREATE TABLE ADM_WORKS.BUS_DRIVER
(DRIVER_ID INT NOT NULL PRIMARY KEY,
STAFF_ID INT,
FOREIGN KEY (STAFF_ID) REFERENCES ADM_REC.STAFF(STAFF_ID) ON DELETE CASCADE ON UPDATE CASCADE)

In [ ]:
-- CREATE TABLE FOR BUS
CREATE TABLE ADM_WORKS.BUS
(BUS_ID INT NOT NULL PRIMARY KEY,
DRIVER_ID INT
FOREIGN KEY (DRIVER_ID) REFERENCES ADM_WORKS.BUS_DRIVER(DRIVER_ID) ON DELETE CASCADE ON UPDATE CASCADE
)

In [ ]:
-- BUS ROUTE
CREATE TABLE ADM_WORKS.BUS_ROUTE
(BUS_ID INT,
ROUTE_ID INT,
STUDENT_ID INT,
DRIVER_ID INT,
FOREIGN KEY (BUS_ID) REFERENCES ADM_WORKS.BUS(BUS_ID) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY (ROUTE_ID) REFERENCES ADM_WORKS.ROUTE_DESTINATION(ROUTE_ID) ON DELETE NO ACTION ON UPDATE NO ACTION,
FOREIGN KEY (STUDENT_ID) REFERENCES ADM_REC.STUDENTS(STUDENT_ID) ON DELETE NO ACTION ON UPDATE NO ACTION,
FOREIGN KEY (DRIVER_ID) REFERENCES ADM_WORKS.BUS_DRIVER(DRIVER_ID) ON DELETE NO ACTION ON UPDATE NO ACTION)

In [ ]:
--CREATE ROUTE DESTINATION
CREATE TABLE ADM_WORKS.ROUTE_DESTINATION
(ROUTE_ID INT NOT NULL PRIMARY KEY,
ROUTE_DEST VARCHAR(250) NOT NULL,
ROUTE_NAME VARCHAR(100) NOT NULL,
)

In [ ]:
--TABLE FOR CLINIC STAFF
CREATE TABLE ADM_WORKS.CLINIC
(CLINIC_ID INT IDENTITY(1,1) PRIMARY KEY,
STAFF_ID INT
FOREIGN KEY (STAFF_ID) REFERENCES ADM_REC.STAFF(STAFF_ID) ON DELETE CASCADE ON UPDATE CASCADE)

In [ ]:
--TABLE FOR STUDENT CLASS
CREATE TABLE ADM_ACA.STUDENTCLASS
(CLASS_ID INT,
STUDENT_ID INT,
FOREIGN KEY (CLASS_ID) REFERENCES ADM_REC.CLASS(CLASS_ID) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY (STUDENT_ID) REFERENCES ADM_REC.STUDENTS(STUDENT_ID) ON DELETE NO ACTION ON UPDATE NO ACTION)

<mark>**CREATING A STORED PROCEDURE**</mark>

In [1]:
--CREATING A PROCEDURE FOR INSERTING STUDENT RECORDS
create PROCEDURE student_data
@STUDENT_ID int, 
@STUDENT_NAME varchar(100),
 @STUDENT_DOB date,
  @GENDER VARCHAR(6),
   @STUDENT_REG_NO VARCHAR(12),
    @STUDENT_ADD VARCHAR(100),
     @EMAIL_ADD VARCHAR(50),
      @NEXTOFKIN VARCHAR(100),
       @EMER_CONTACT VARCHAR(200),
        @DISABILITY VARCHAR(50),
         @ALLERGIES VARCHAR(100), 
         @BLOOD_GROUP VARCHAR(3),
          @BLOOD_GENO VARCHAR(2),
          @PARENT_ID INT
AS
BEGIN
INSERT INTO ADM_REC.STUDENTS(
STUDENT_ID,
 STUDENT_NAME, 
 STUDENT_DOB,
  GENDER,
   STUDENT_REG_NO,
   STUDENT_ADD,
   EMAIL_ADD,
   NEXTOFKIN,
   EMER_CONTACT,
   DISABILITY,
   ALLERGIES,
    BLOOD_GROUP,
     BLOOD_GENO,
     PARENT_ID)
     VALUES(
         @STUDENT_ID,
         @STUDENT_NAME,
         @STUDENT_DOB,
         @GENDER,
         @STUDENT_REG_NO,
         @STUDENT_ADD,
         @EMAIL_ADD,
         @NEXTOFKIN,
         @EMER_CONTACT,
         @DISABILITY,
         @ALLERGIES,
         @BLOOD_GROUP,
         @BLOOD_GENO,
         @PARENT_ID)
END

In [96]:
--CREATING A TABLE TO HOLD RECORDS FROM THE TRIGGER OPERATION
CREATE TABLE ADM_REC.UPDATEDSTUDENTDATA
    (NEW_STUDENT_id INT IDENTITY PRIMARY KEY,
    STUDENT_ID INT NOT NULL,
    STUDENT_NAME VARCHAR(255) NOT NULL,
    GENDER VARCHAR(6) NOT NULL,
    STUDENT_REG_NO VARCHAR(12) NOT NULL,
    ENROLL_DATE DATE NOT NULL,
    EMER_CONTACT VARCHAR(11) NOT NULL,
    PARENT_ID INT NOT NULL,
    updated_at DATETIME NOT NULL,
    operation CHAR(3) NOT NULL,
    CHECK(operation = 'INS' or operation='DEL')
    );

<mark>**CREATING A TRIGGER THAT STORES STUDENT INFORMATION AFTER INSERT AND DELETE OF STUDENT RECORDS**</mark>

In [ ]:
CREATE TRIGGER ADM_REC.TRG_UPDATEDSTUDENTDATA
ON ADM_REC.STUDENTS
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ADM_REC.UPDATEDSTUDENTDATA
    (STUDENT_ID,
    STUDENT_NAME,
    GENDER,
    STUDENT_REG_NO,
    ENROLL_DATE,
    EMER_CONTACT,
    PARENT_ID,
    updated_at,
    operation)
    
    SELECT
    I.STUDENT_ID,
    STUDENT_NAME,
    GENDER,
    STUDENT_REG_NO,
    ENROLL_DATE,
    EMER_CONTACT,
    I.PARENT_ID,
        GETDATE(),
        'INS'
    FROM
        inserted i
    UNION ALL
    SELECT
    D.STUDENT_ID,
    STUDENT_NAME,
    GENDER,
    STUDENT_REG_NO,
    ENROLL_DATE,
    EMER_CONTACT,
    D.PARENT_ID,
        GETDATE(),
        'DEL'
    FROM
        deleted d;
END